/tmp
/logs
/.config
/wip
/home/protected/config/config.php
/home/protected/config/config_*.php

/.sass-cache
/home/public/css/*.map

# media wiki resource files
/home/public/w/resources
/home/public/w/skins
/home/public/w/images
