/tmp
/logs
/.config
/wip
/home/protected/maglab/config/config.php
/home/protected/maglab/config/config_*.php

/.sass-cache
/home/public/css/*.map

# manually add images that you want to use
/home/public/images/bg

# media wiki resource files
/home/public/w/resources
/home/public/w/skins
/home/public/w/images

# package development/test files not required in production
.travis.yml
/home/protected/maglab/vendor/paypal/rest-api-sdk-php/tests
/home/protected/maglab/vendor/paypal/rest-api-sdk-php/sample
/home/protected/maglab/vendor/slim/php-view/tests

