/tmp
/logs
/.config
/wip
/home/protected/maglab/config/config.php
/home/protected/maglab/config/config_*.php

/.sass-cache
/home/public/css/*.map

# manually add images that you want to use
/home/public/images/bg

# media wiki resource files
/home/public/w/resources
/home/public/w/skins
/home/public/w/images
