
.panel-body
  %table.table-striped.table-hover{:style => 'width: 100%;'}
    %thead
      %tr
        %th Sensor
        %th Status
        %th
        %th Last Update
    %tbody
      <?php date_default_timezone_set('America/Los_Angeles'); ?>
      <?php foreach($this->data->latestStatus as $sensor => $v){ ?>
      %tr
        %td <?php echo $sensor; ?>
        %td <?php echo $v[0]; ?>
        %td
          <?php if($v[1]){ ?>
          %time.timeago{'datetime' => "<?php echo date('c', $v[1]); ?>"}
          <?php } ?>
        %td <?php echo($v[1] ? date('M j, Y g:i A T', $v[1]) : 'NEVER'); ?>
      <?php } ?>
