
-# testing view here
-# viewBox: "0 0 1238 624",
-#  width: "1238",
-#  height: "624"}

%svg#maglab-synoptic-view{ xmlns: "http://www.w3.org/2000/svg",
  "xmlns:xlink" => "http://www.w3.org/1999/xlink",
  version: "1.1",
  viewBox: "160 30 900 564",
  width: "100%",
  height: "564"}
  %defs
    %pattern#diagonal-stripe-2{ height: "10",
      width: "10",
      patternUnits: "userSpaceOnUse"}
      %image{ height: "10",
        width: "10",
        y: "0",
        x: "0",
        "xlink:href" => "data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPSd3aGl0ZScvPgogIDxwYXRoIGQ9J00tMSwxIGwyLC0yCiAgICAgICAgICAgTTAsMTAgbDEwLC0xMAogICAgICAgICAgIE05LDExIGwyLC0yJyBzdHJva2U9J2JsYWNrJyBzdHJva2Utd2lkdGg9JzInLz4KPC9zdmc+"}
  %g#root
    %g#Background
      %rect#The-Unknown{ style: "fill:url(#diagonal-stripe-2) #999999",
        width: "977.5",
        height: "624",
        x: "260.5",
        y: "0"}
      %rect#Outside-Asphalt{ x: "0",
        y: "0",
        height: "624",
        width: "260.5",
        style: "fill:#4d4d4d"}
      - if (!$isTechBad && $isOpen)
        %rect#Space-Floor{ width: "742.5",
          height: "472",
          x: "260.5",
          y: "75",
          style: "fill:#ffffff"}
      - else if (!$isTechBad)
        %rect#Space-Floor{ width: "742.5",
          height: "472",
          x: "260.5",
          y: "75",
          style: "fill:#e0e0d5"}
      - else
        %rect#Space-Floor{ width: "742.5",
          height: "472",
          x: "260.5",
          y: "75",
          style: "fill:#e0d5d5"}
      %text#Space_Space{ style: "font-style:normal;font-weight:normal;font-size:40px;line-height:1.25;font-family:sans-serif;fill:#000000;fill-opacity:1;stroke:none",
        y: "118",
        x: "290",
        "xml:space" => "preserve"}
        %tspan#Space_Span_Space{ y: "118",
          x: "290"}Space
      - if ($isTechBad)
        %text#Space_Openness{ style: "font-style:normal;font-weight:normal;font-size:40px;line-height:1.25;font-family:sans-serif;fill:#ff0000;fill-opacity:1;stroke:none",
          x: "290",
          y: "160",
          visibility: "visible",
          "xml:space" => "preserve"}
          %tspan#Space_Span_Openness{ x: "290",
            y: "160"}Unknown
      - else if ($isOpen)
        %text#Space_Openness{ style: "font-style:normal;font-weight:normal;font-size:40px;line-height:1.25;font-family:sans-serif;fill:#2ecc40;fill-opacity:1;stroke:none",
          x: "290",
          y: "160",
          visibility: "visible",
          "xml:space" => "preserve"}
          %tspan#Space_Span_Openness{ x: "290",
            y: "160"}Open
      - else
        %text#Space_Openness{ style: "font-style:normal;font-weight:normal;font-size:40px;line-height:1.25;font-family:sans-serif;fill:#8a6d3b;fill-opacity:1;stroke:none",
          x: "290",
          y: "160",
          visibility: "visible",
          "xml:space" => "preserve"}
          %tspan#Space_Span_Openness{ x: "290",
            y: "160"}Closed
    %g#Walls
      %path#Electronics-Room_L0{ style: "fill:none;stroke:#000000;stroke-width:6px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
        d: "M 789.5,332 V 285"}
      %path#Electronics-Room_L1{ style: "fill:none;stroke:#000000;stroke-width:6px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
        d: "M 789.5,544 V 386"}
      %path#Conference-Room_B0{ style: "fill:none;stroke:#000000;stroke-width:6px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
        d: "m 746,284.5 h 258"}
      %path#Conference-Room_L0{ style: "fill:none;stroke:#000000;stroke-width:6px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
        d: "M 692,284.5 658,284.5 V 78"}
      %path#Bathroom_R0{ style: "fill:none;stroke:#000000;stroke-width:6px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
        d: "m 555,395.5 h 27.5 V 544"}
      %path#Bathroom_T0{ style: "fill:none;stroke:#000000;stroke-width:6px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
        d: "M 501,395.5 H 469.5"}
      %path#Kitchen_R0{ style: "fill:none;stroke:#000000;stroke-width:6px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
        d: "m 447,337.5 h 22.5 V 544"}
      %path#Kitchen_T0{ style: "fill:none;stroke:#000000;stroke-width:6px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
        d: "M 393,337.5 H 263.5"}
      %path#Space_L0{ style: "fill:none;stroke:#000000;stroke-width:6px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
        d: "M 263.5,452 V 305"}
      %path#Space_Wall{ style: "fill:none;stroke:#000000;stroke-width:6px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
        d: "m 263.5,506 v 38 h 736.5 v -466 h -736.5 v 38"}
    %g#Unmonitored-Doors
      %path#Electronics-Room_Door{ style: "fill:none;stroke:#999999;stroke-width:4px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
        d: "m 789.5,332 v 54"}
      %path#Conference-Room_Door{ style: "fill:none;stroke:#999999;stroke-width:4px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
        d: "m 692,284.5 h 54"}
      %path#Bathroom-Door{ style: "fill:none;stroke:#999999;stroke-width:4px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
        d: "m 501,395.5 h 54"}
      %path#Kitchen-Door{ style: "fill:none;stroke:#999999;stroke-width:4px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
        d: "m 393,337.5 h 54"}
    %g#Pod-Bay-Door
      - if (!$isTechBad && $latestStatus['Pod Bay Door'][0] == 'Open')
        %path#Pod-Bay-Door_Closed{ style: "fill:none;stroke:#2ecc40;stroke-width:4px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
          visibility: "hidden",
          d: "M 263.5,116 V 305"}
        %path#Pod-Bay-Door_Open-0{ style: "fill:none;stroke:#ffdc00;stroke-width:4px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
          visibility: "visible",
          d: "M 263.5,116 v 15"}
        %path#Pod-Bay-Door_Open-1{ style: "fill:none;stroke:#ffdc00;stroke-width:4px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
          visibility: "visible",
          d: "M 263.5,305 v -15"}
      - else if (!$isTechBad)
        %path#Pod-Bay-Door_Closed{ style: "fill:none;stroke:#2ecc40;stroke-width:4px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
          visibility: "visible",
          d: "M 263.5,116 V 305"}
        %path#Pod-Bay-Door_Open-0{ style: "fill:none;stroke:#ffdc00;stroke-width:4px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
          visibility: "hidden",
          d: "M 263.5,116 v 15"}
        %path#Pod-Bay-Door_Open-1{ style: "fill:none;stroke:#ffdc00;stroke-width:4px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
          visibility: "hidden",
          d: "M 263.5,305 v -15"}
      - else
        %path#Pod-Bay-Door_Closed{ style: "fill:none;stroke:#2ecc40;stroke-width:4px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
          visibility: "hidden",
          d: "M 263.5,116 V 305"}
        %path#Pod-Bay-Door_Open-0{ style: "fill:none;stroke:#ffdc00;stroke-width:4px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
          visibility: "hidden",
          d: "M 263.5,116 v 15"}
        %path#Pod-Bay-Door_Open-1{ style: "fill:none;stroke:#ffdc00;stroke-width:4px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
          visibility: "hidden",
          d: "M 263.5,305 v -15"}
      - if ($isTechBad)
        %g#Pod-Bay-Door_Fail{ visibility: "visible" }
          %rect{ style: "fill:none;stroke:#ff0000;stroke-width:1px",
            x: "261",
            y: "116",
            width: "20",
            height: "189"}
          %path{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:round;stroke-linejoin:miter;stroke-opacity:1",
              d: "M 281,116 261,305"}
          %path{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:round;stroke-linejoin:miter;stroke-opacity:1",
              d: "M 281,305 261,116"}
      - else
        %g#Pod-Bay-Door_Fail{ visibility: "hidden" }
          %rect{ style: "fill:none;stroke:#ff0000;stroke-width:1px",
            x: "261",
            y: "116",
            width: "20",
            height: "189"}
          %path{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:round;stroke-linejoin:miter;stroke-opacity:1",
              d: "M 281,116 261,305"}
          %path{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:round;stroke-linejoin:miter;stroke-opacity:1",
              d: "M 281,305 261,116"}
    %g#Front-Door
      - if (!$isTechBad && $latestStatus['Front Door'][0] == 'Open')
        %path#Front-Door_Open{ style: "fill:none;stroke:#ffdc00;stroke-width:4px;stroke-linecap:round;stroke-linejoin:miter;stroke-opacity:1",
          visibility: "visible",
          d: "M 263.5,506 225.32,468.82"}
        %path#Front-Door_Closed{ style: "fill:none;stroke:#2ecc40;stroke-width:4px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
          visibility: "hidden",
          d: "m 263.5,452 v 54"}
      - else if (!$isTechBad)
        %path#Front-Door_Open{ style: "fill:none;stroke:#ffdc00;stroke-width:4px;stroke-linecap:round;stroke-linejoin:miter;stroke-opacity:1",
          visibility: "hidden",
          d: "M 263.5,506 225.32,468.82"}
        %path#Front-Door_Closed{ style: "fill:none;stroke:#2ecc40;stroke-width:4px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
          visibility: "visible",
          d: "m 263.5,452 v 54"}
      - else
        %path#Front-Door_Open{ style: "fill:none;stroke:#ffdc00;stroke-width:4px;stroke-linecap:round;stroke-linejoin:miter;stroke-opacity:1",
          visibility: "hidden",
          d: "M 263.5,506 225.32,468.82"}
        %path#Front-Door_Closed{ style: "fill:none;stroke:#2ecc40;stroke-width:4px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
          visibility: "hidden",
          d: "m 263.5,452 v 54"}
      - if ($isTechBad)
        %g#Front-Door_Fail{ visibility: "visible" }
          %rect{ style: "fill:#999999;stroke:#ff0000;stroke-width:1",
            x: "223",
            y: "452.5",
            width: "43",
            height: "53"}
          %path{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:round;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 223,505.5 43,-53"}
          %path{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:round;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 223,452.5 43,53"}
      - else
        %g#Front-Door_Fail{ visibility: "hidden" }
          %rect{ style: "fill:#999999;stroke:#ff0000;stroke-width:1",
            x: "223",
            y: "452.5",
            width: "43",
            height: "53"}
          %path{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:round;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 223,505.5 43,-53"}
          %path{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:round;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 223,452.5 43,53"}
    %g#Shop-Motion{ transform: "translate(474, 296)"}
      %path#Shop-Motion_Sensor{ style: "fill:#000000;stroke:none",
        d: "M51,0 a1,1 0 0,0 10,0"}
      %path#Shop-Motion_IR-Wave0{ style: "fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1", 
        d: "m 41,0 a 15,15 0 0 0 15,15"}
      %path#Shop-Motion_IR-Wave1{ style: "fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
        d: "m 26,0 a 30,30 0 0 0 30,30"}
      %path#Shop-Motion_IR-Wave2{ style: "fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
        d: "m 11,0 a 45,45 0 0 0 45,45"}
      - if (!$isTechBad && $latestStatus['Shop Motion'][2] == true)
        %g#Shop-Motion_Motion{ visibility: "visible" }
          %circle#Shop-Motion_Head{ style: "fill:#2ecc40",
            cx: "33",
            cy: "38.5",
            r: "5.5"}
          %path#Shop-Motion_Torso{ style: "fill:none;stroke:#2ecc40;stroke-width:12px;stroke-linecap:round;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 32,52.5 -3,14"}
          %path#Shop-Motion_Legs{ style: "fill:none;stroke:#2ecc40;stroke-width:5px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1",
            d: "m 39,89 v -13 l -6.5,-6.5 -7,-1 -2.5,9.5 -9,9"}
          %path#Shop-Motion_Arms{ style: "fill:none;stroke:#2ecc40;stroke-width:5px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1",
            d: "m 19,64 2,-8 8.5,-6 5.5,1 6,10 6,2.5"}
      - else
        %g#Shop-Motion_Motion{ visibility: "hidden" }
          %circle#Shop-Motion_Head{ style: "fill:#2ecc40",
            cx: "33",
            cy: "38.5",
            r: "5.5"}
          %path#Shop-Motion_Torso{ style: "fill:none;stroke:#2ecc40;stroke-width:12px;stroke-linecap:round;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 32,52.5 -3,14"}
          %path#Shop-Motion_Legs{ style: "fill:none;stroke:#2ecc40;stroke-width:5px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1",
            d: "m 39,89 v -13 l -6.5,-6.5 -7,-1 -2.5,9.5 -9,9"}
          %path#Shop-Motion_Arms{ style: "fill:none;stroke:#2ecc40;stroke-width:5px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1",
            d: "m 19,64 2,-8 8.5,-6 5.5,1 6,10 6,2.5"}
      - if ($isTechBad)        
        %rect#Shop-Motion_Enclosure{ style: "fill:none;stroke:#ff0000",
          width: "62",
          height: "95"}
        %g#Shop-Motion_Fail{ visibility: "visible" }
          %path#Shop-Motion_Fw-Slash{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 62,0 -62,95"}
          %path#Shop-Motion_Bk-Slash{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 0,0 62,95"}
      - else
        %rect#Shop-Motion_Enclosure{ style: "fill:none;stroke:#000000",
          width: "62",
          height: "95"}
        %g#Shop-Motion_Fail{ visibility: "hidden" }
          %path#Shop-Motion_Fw-Slash{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 62,0 -62,95"}
          %path#Shop-Motion_Bk-Slash{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 0,0 62,95"}
    %g#Office-Motion{ transform: "translate(268, 347)"}
      %path#Office-Motion_Sensor{ style: "fill:#000000;stroke:none",
        d: "M51,0 a1,1 0 0,0 10,0"}
      %path#Office-Motion_IR-Wave0{ style: "fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1", 
        d: "m 41,0 a 15,15 0 0 0 15,15"}
      %path#Office-Motion_IR-Wave1{ style: "fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
        d: "m 26,0 a 30,30 0 0 0 30,30"}
      %path#Office-Motion_IR-Wave2{ style: "fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
        d: "m 11,0 a 45,45 0 0 0 45,45"}
      - if (!$isTechBad && $latestStatus['Office Motion'][2] == true)
        %g#Office-Motion_Motion{ visibility: "visible" }
          %circle#Office-Motion_Head{ style: "fill:#2ecc40",
            cx: "33",
            cy: "38.5",
            r: "5.5"}
          %path#Office-Motion_Torso{ style: "fill:none;stroke:#2ecc40;stroke-width:12px;stroke-linecap:round;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 32,52.5 -3,14"}
          %path#Office-Motion_Legs{ style: "fill:none;stroke:#2ecc40;stroke-width:5px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1",
            d: "m 39,89 v -13 l -6.5,-6.5 -7,-1 -2.5,9.5 -9,9"}
          %path#Office-Motion_Arms{ style: "fill:none;stroke:#2ecc40;stroke-width:5px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1",
            d: "m 19,64 2,-8 8.5,-6 5.5,1 6,10 6,2.5"}
      - else
        %g#Office-Motion_Motion{ visibility: "hidden" }
          %circle#Office-Motion_Head{ style: "fill:#2ecc40",
            cx: "33",
            cy: "38.5",
            r: "5.5"}
          %path#Office-Motion_Torso{ style: "fill:none;stroke:#2ecc40;stroke-width:12px;stroke-linecap:round;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 32,52.5 -3,14"}
          %path#Office-Motion_Legs{ style: "fill:none;stroke:#2ecc40;stroke-width:5px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1",
            d: "m 39,89 v -13 l -6.5,-6.5 -7,-1 -2.5,9.5 -9,9"}
          %path#Office-Motion_Arms{ style: "fill:none;stroke:#2ecc40;stroke-width:5px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1",
            d: "m 19,64 2,-8 8.5,-6 5.5,1 6,10 6,2.5"}
      - if ($isTechBad)        
        %rect#Office-Motion_Enclosure{ style: "fill:none;stroke:#ff0000",
          width: "62",
          height: "95"}
        %g#Office-Motion_Fail{ visibility: "visible" }
          %path#Office-Motion_Fw-Slash{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 62,0 -62,95"}
          %path#Office-Motion_Bk-Slash{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 0,0 62,95"}
      - else
        %rect#Office-Motion_Enclosure{ style: "fill:none;stroke:#000000",
          width: "62",
          height: "95"}
        %g#Office-Motion_Fail{ visibility: "hidden" }
          %path#Office-Motion_Fw-Slash{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 62,0 -62,95"}
          %path#Office-Motion_Bk-Slash{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 0,0 62,95"}
    %g#ShopB-Motion{ transform: "translate(723, 325)"}
      %path#ShopB-Motion_Sensor{ style: "fill:#000000;stroke:none",
        d: "M51,0 a1,1 0 0,0 10,0"}
      %path#ShopB-Motion_IR-Wave0{ style: "fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1", 
        d: "m 41,0 a 15,15 0 0 0 15,15"}
      %path#ShopB-Motion_IR-Wave1{ style: "fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
        d: "m 26,0 a 30,30 0 0 0 30,30"}
      %path#ShopB-Motion_IR-Wave2{ style: "fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
        d: "m 11,0 a 45,45 0 0 0 45,45"}
      - if (!$isTechBad && $latestStatus['ShopB Motion'][2] == true)
        %g#ShopB-Motion_Motion{ visibility: "visible" }
          %circle#ShopB-Motion_Head{ style: "fill:#2ecc40",
            cx: "33",
            cy: "38.5",
            r: "5.5"}
          %path#ShopB-Motion_Torso{ style: "fill:none;stroke:#2ecc40;stroke-width:12px;stroke-linecap:round;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 32,52.5 -3,14"}
          %path#ShopB-Motion_Legs{ style: "fill:none;stroke:#2ecc40;stroke-width:5px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1",
            d: "m 39,89 v -13 l -6.5,-6.5 -7,-1 -2.5,9.5 -9,9"}
          %path#ShopB-Motion_Arms{ style: "fill:none;stroke:#2ecc40;stroke-width:5px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1",
            d: "m 19,64 2,-8 8.5,-6 5.5,1 6,10 6,2.5"}
      - else
        %g#ShopB-Motion_Motion{ visibility: "hidden" }
          %circle#ShopB-Motion_Head{ style: "fill:#2ecc40",
            cx: "33",
            cy: "38.5",
            r: "5.5"}
          %path#ShopB-Motion_Torso{ style: "fill:none;stroke:#2ecc40;stroke-width:12px;stroke-linecap:round;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 32,52.5 -3,14"}
          %path#ShopB-Motion_Legs{ style: "fill:none;stroke:#2ecc40;stroke-width:5px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1",
            d: "m 39,89 v -13 l -6.5,-6.5 -7,-1 -2.5,9.5 -9,9"}
          %path#ShopB-Motion_Arms{ style: "fill:none;stroke:#2ecc40;stroke-width:5px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1",
            d: "m 19,64 2,-8 8.5,-6 5.5,1 6,10 6,2.5"}
      - if ($isTechBad)        
        %rect#ShopB-Motion_Enclosure{ style: "fill:none;stroke:#ff0000",
          width: "62",
          height: "95"}
        %g#ShopB-Motion_Fail{ visibility: "visible" }
          %path#ShopB-Motion_Fw-Slash{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 62,0 -62,95"}
          %path#ShopB-Motion_Bk-Slash{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 0,0 62,95"}
      - else
        %rect#ShopB-Motion_Enclosure{ style: "fill:none;stroke:#000000",
          width: "62",
          height: "95"}
        %g#ShopB-Motion_Fail{ visibility: "hidden" }
          %path#ShopB-Motion_Fw-Slash{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 62,0 -62,95"}
          %path#ShopB-Motion_Bk-Slash{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 0,0 62,95"}
    %g#ElecRm-Motion{ transform: "translate(794, 289)"}
      %path#ElecRm-Motion_Sensor{ style: "fill:#000000;stroke:none",
        d: "M51,0 a1,1 0 0,0 10,0"}
      %path#ElecRm-Motion_IR-Wave0{ style: "fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1", 
        d: "m 41,0 a 15,15 0 0 0 15,15"}
      %path#ElecRm-Motion_IR-Wave1{ style: "fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
        d: "m 26,0 a 30,30 0 0 0 30,30"}
      %path#ElecRm-Motion_IR-Wave2{ style: "fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
        d: "m 11,0 a 45,45 0 0 0 45,45"}
      - if (!$isTechBad && $latestStatus['ElecRm Motion'][2] == true)
        %g#ElecRm-Motion_Motion{ visibility: "visible" }
          %circle#ElecRm-Motion_Head{ style: "fill:#2ecc40",
            cx: "33",
            cy: "38.5",
            r: "5.5"}
          %path#ElecRm-Motion_Torso{ style: "fill:none;stroke:#2ecc40;stroke-width:12px;stroke-linecap:round;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 32,52.5 -3,14"}
          %path#ElecRm-Motion_Legs{ style: "fill:none;stroke:#2ecc40;stroke-width:5px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1",
            d: "m 39,89 v -13 l -6.5,-6.5 -7,-1 -2.5,9.5 -9,9"}
          %path#ElecRm-Motion_Arms{ style: "fill:none;stroke:#2ecc40;stroke-width:5px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1",
            d: "m 19,64 2,-8 8.5,-6 5.5,1 6,10 6,2.5"}
      - else
        %g#ElecRm-Motion_Motion{ visibility: "hidden" }
          %circle#ElecRm-Motion_Head{ style: "fill:#2ecc40",
            cx: "33",
            cy: "38.5",
            r: "5.5"}
          %path#ElecRm-Motion_Torso{ style: "fill:none;stroke:#2ecc40;stroke-width:12px;stroke-linecap:round;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 32,52.5 -3,14"}
          %path#ElecRm-Motion_Legs{ style: "fill:none;stroke:#2ecc40;stroke-width:5px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1",
            d: "m 39,89 v -13 l -6.5,-6.5 -7,-1 -2.5,9.5 -9,9"}
          %path#ElecRm-Motion_Arms{ style: "fill:none;stroke:#2ecc40;stroke-width:5px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1",
            d: "m 19,64 2,-8 8.5,-6 5.5,1 6,10 6,2.5"}
      - if ($isTechBad)        
        %rect#ElecRm-Motion_Enclosure{ style: "fill:none;stroke:#ff0000",
          width: "62",
          height: "95"}
        %g#ElecRm-Motion_Fail{ visibility: "visible" }
          %path#ElecRm-Motion_Fw-Slash{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 62,0 -62,95"}
          %path#ElecRm-Motion_Bk-Slash{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 0,0 62,95"}
      - else
        %rect#ElecRm-Motion_Enclosure{ style: "fill:none;stroke:#000000",
          width: "62",
          height: "95"}
        %g#ElecRm-Motion_Fail{ visibility: "hidden" }
          %path#ElecRm-Motion_Fw-Slash{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 62,0 -62,95"}
          %path#ElecRm-Motion_Bk-Slash{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 0,0 62,95"}
    %g#ConfRm-Motion{ transform: "translate(757, 185)"}
      %path#ConfRm-Motion_Sensor{ style: "fill:#000000;stroke:none",
        d: "M51,0 a1,1 0 0,0 10,0"}
      %path#ConfRm-Motion_IR-Wave0{ style: "fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1", 
        d: "m 41,0 a 15,15 0 0 0 15,15"}
      %path#ConfRm-Motion_IR-Wave1{ style: "fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
        d: "m 26,0 a 30,30 0 0 0 30,30"}
      %path#ConfRm-Motion_IR-Wave2{ style: "fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
        d: "m 11,0 a 45,45 0 0 0 45,45"}
      - if (!$isTechBad && $latestStatus['ConfRm Motion'][2] == true)
        %g#ConfRm-Motion_Motion{ visibility: "visible" }
          %circle#ConfRm-Motion_Head{ style: "fill:#2ecc40",
            cx: "33",
            cy: "38.5",
            r: "5.5"}
          %path#ConfRm-Motion_Torso{ style: "fill:none;stroke:#2ecc40;stroke-width:12px;stroke-linecap:round;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 32,52.5 -3,14"}
          %path#ConfRm-Motion_Legs{ style: "fill:none;stroke:#2ecc40;stroke-width:5px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1",
            d: "m 39,89 v -13 l -6.5,-6.5 -7,-1 -2.5,9.5 -9,9"}
          %path#ConfRm-Motion_Arms{ style: "fill:none;stroke:#2ecc40;stroke-width:5px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1",
            d: "m 19,64 2,-8 8.5,-6 5.5,1 6,10 6,2.5"}
      - else
        %g#ConfRm-Motion_Motion{ visibility: "hidden" }
          %circle#ConfRm-Motion_Head{ style: "fill:#2ecc40",
            cx: "33",
            cy: "38.5",
            r: "5.5"}
          %path#ConfRm-Motion_Torso{ style: "fill:none;stroke:#2ecc40;stroke-width:12px;stroke-linecap:round;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 32,52.5 -3,14"}
          %path#ConfRm-Motion_Legs{ style: "fill:none;stroke:#2ecc40;stroke-width:5px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1",
            d: "m 39,89 v -13 l -6.5,-6.5 -7,-1 -2.5,9.5 -9,9"}
          %path#ConfRm-Motion_Arms{ style: "fill:none;stroke:#2ecc40;stroke-width:5px;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1",
            d: "m 19,64 2,-8 8.5,-6 5.5,1 6,10 6,2.5"}
      - if ($isTechBad)        
        %rect#ConfRm-Motion_Enclosure{ style: "fill:none;stroke:#ff0000",
          width: "62",
          height: "95"}
        %g#ConfRm-Motion_Fail{ visibility: "visible" }
          %path#ConfRm-Motion_Fw-Slash{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 62,0 -62,95"}
          %path#ConfRm-Motion_Bk-Slash{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 0,0 62,95"}
      - else
        %rect#ConfRm-Motion_Enclosure{ style: "fill:none;stroke:#000000",
          width: "62",
          height: "95"}
        %g#ConfRm-Motion_Fail{ visibility: "hidden" }
          %path#ConfRm-Motion_Fw-Slash{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 62,0 -62,95"}
          %path#ConfRm-Motion_Bk-Slash{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 0,0 62,95"}
    %g#HAL{transform: "translate(300,299)"}
      %text#HAL_Text{ style: "font-style:normal;font-weight:normal;font-size:36px;line-height:1.25;font-family:sans-serif;fill:#000000;fill-opacity:1;stroke:none" }
        %tspan{ x: "2",
          y: "30"}HAL
      - if ($isTechBad)
        %rect#HAL_Enclosure{ style: "fill:none;stroke:#ff0000",
          width: "75",
          height: "34"}
        %g#HAL_Fail{ visibility: "visible" }
          %path#HAL_Bk-Slash{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 0,0 75,34"}
          %path#HAL_Fw-Slash{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 75,0 -75,34"}
      - else
        %rect#HAL_Enclosure{ style: "fill:none;stroke:#000000",
          x: "0",
          y: "0",
          width: "75",
          height: "34"}
        %g#HAL_Fail{ visibility: "hidden" }
          %path#HAL_Bk-Slash{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 0,0 75,34"}
          %path#HAL_Fw-Slash{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 75,0 -75,34"}
    %g#Daisy{transform: "translate(858,289)"}
      %text#Daisy_Text{ style: "font-style:normal;font-weight:normal;font-size:36px;line-height:1.25;font-family:sans-serif;font-stretch:condensed;fill:#000000;fill-opacity:1;stroke:none" }
        %tspan{ x: "2",
          y: "30"}Daisy
      - if ($isTechBad)
        %rect#Daisy_Enclosure{ style: "fill:none;stroke:#ff0000",
          width: "75",
          height: "34"}
        %g#Daisy_Fail{ visibility: "visible" }
          %path#Daisy_Bk-Slash{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 0,0 75,34"}
          %path#Daisy_Fw-Slash{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 75,0 -75,34"}
      - else
        %rect#Daisy_Enclosure{ style: "fill:none;stroke:#000000",
          x: "0",
          y: "0",
          width: "75",
          height: "34"}
        %g#Daisy_Fail{ visibility: "hidden" }
          %path#Daisy_Bk-Slash{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 0,0 75,34"}
          %path#Daisy_Fw-Slash{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 75,0 -75,34"}
    %g#Bay-Temp{transform: "translate(300,263)"}
      - preg_match ('/^.+?(?=\s)/', $latestStatus['Bay Temp'][0], $wholeTemperature)
      - if (!$isTechBad && sizeof($wholeTemperature) > 0)
        %text#Bay-Temp_Temperature{ style: "font-style:normal;font-weight:normal;font-size:20px;line-height:1.25;font-family:sans-serif;fill:#000000;fill-opacity:1;stroke:none"}
          %tspan{ x: "21",
            y: "23"}
            - $tempTemp = (int)(round(floatval($wholeTemperature[0]))
            - print($tempTemp . '&#xB0;C')
      - else
        %text#Bay-Temp_Temperature{ style: "font-style:normal;font-weight:normal;font-size:20px;line-height:1.25;font-family:sans-serif;fill:#000000;fill-opacity:1;stroke:none"}
          %tspan{ x: "21",
            y: "23"}XX&#xB0;C
      %text#Bay-Temp_Symbol{ style: "font-style:normal;font-weight:normal;font-size:26px;line-height:1.25;font-family:sans-serif;fill:#000000;fill-opacity:1;stroke:none"}
        %tspan{x: "-1.5",
          y: "25"}&#x1f321;
      - if ($isTechBad)
        %rect#Bay-Temp_Enclosure{ style: "fill:none;stroke:#ff0000",
          width: "75",
          height: "34"}
        %g#Bay-Temp_Fail{ visibility: "visible" }
          %path#Bay-Temp_Bk-Slash{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 0,0 75,34"}
          %path#Bay-Temp_Fw-Slash{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 75,0 -75,34"}
      - else
        %rect#Bay-Temp_Enclosure{ style: "fill:none;stroke:#000000",
          width: "75",
          height: "34"}
        %g#Bay-Temp_Fail{ visibility: "hidden" }
          %path#Bay-Temp_Bk-Slash{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 0,0 75,34"}
          %path#Bay-Temp_Fw-Slash{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 75,0 -75,34"}
    %g#ShopB-Temp{transform: "translate(710,289)"}
      - preg_match ('/^.+?(?=\s)/', $latestStatus['ShopB Temp'][0], $wholeTemperature)
      - if (!$isTechBad && sizeof($wholeTemperature) > 0)
        %text#ShopB-Temp_Temperature{ style: "font-style:normal;font-weight:normal;font-size:20px;line-height:1.25;font-family:sans-serif;fill:#000000;fill-opacity:1;stroke:none"}
          %tspan{ x: "21",
            y: "23"}
            - $tempTemp = (int)(round(floatval($wholeTemperature[0]))
            - print($tempTemp . '&#xB0;C')
      - else
        %text#ShopB-Temp_Temperature{ style: "font-style:normal;font-weight:normal;font-size:20px;line-height:1.25;font-family:sans-serif;fill:#000000;fill-opacity:1;stroke:none"}
          %tspan{ x: "21",
            y: "23"}XX&#xB0;C
      %text#ShopB-Temp_Symbol{ style: "font-style:normal;font-weight:normal;font-size:26px;line-height:1.25;font-family:sans-serif;fill:#000000;fill-opacity:1;stroke:none"}
        %tspan{x: "-1.5",
          y: "25"}&#x1f321;
      - if ($isTechBad)
        %rect#ShopB-Temp_Enclosure{ style: "fill:none;stroke:#ff0000",
          width: "75",
          height: "34"}
        %g#ShopB-Temp_Fail{ visibility: "visible" }
          %path#ShopB-Temp_Bk-Slash{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 0,0 75,34"}
          %path#ShopB-Temp_Fw-Slash{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 75,0 -75,34"}
      - else
        %rect#ShopB-Temp_Enclosure{ style: "fill:none;stroke:#000000",
          width: "75",
          height: "34"}
        %g#ShopB-Temp_Fail{ visibility: "hidden" }
          %path#ShopB-Temp_Bk-Slash{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 0,0 75,34"}
          %path#ShopB-Temp_Fw-Slash{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 75,0 -75,34"}
    %g#ElecRm-Temp{transform: "translate(858,325)"}
      - preg_match ('/^.+?(?=\s)/', $latestStatus['ElecRm Temp'][0], $wholeTemperature)
      - if (!$isTechBad && sizeof($wholeTemperature) > 0)
        %text#ElecRm-Temp_Temperature{ style: "font-style:normal;font-weight:normal;font-size:20px;line-height:1.25;font-family:sans-serif;fill:#000000;fill-opacity:1;stroke:none"}
          %tspan{ x: "21",
            y: "23"}
            - $tempTemp = (int)(round(floatval($wholeTemperature[0]))
            - print($tempTemp . '&#xB0;C')
      - else
        %text#ElecRm-Temp_Temperature{ style: "font-style:normal;font-weight:normal;font-size:20px;line-height:1.25;font-family:sans-serif;fill:#000000;fill-opacity:1;stroke:none"}
          %tspan{ x: "21",
            y: "23"}XX&#xB0;C
      %text#ElecRm-Temp_Symbol{ style: "font-style:normal;font-weight:normal;font-size:26px;line-height:1.25;font-family:sans-serif;fill:#000000;fill-opacity:1;stroke:none"}
        %tspan{x: "-1.5",
          y: "25"}&#x1f321;
      - if ($isTechBad)
        %rect#ElecRm-Temp_Enclosure{ style: "fill:none;stroke:#ff0000",
          width: "75",
          height: "34"}
        %g#ElecRm-Temp_Fail{ visibility: "visible" }
          %path#ElecRm-Temp_Bk-Slash{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 0,0 75,34"}
          %path#ElecRm-Temp_Fw-Slash{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 75,0 -75,34"}
      - else
        %rect#ElecRm-Temp_Enclosure{ style: "fill:none;stroke:#000000",
          width: "75",
          height: "34"}
        %g#ElecRm-Temp_Fail{ visibility: "hidden" }
          %path#ElecRm-Temp_Bk-Slash{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 0,0 75,34"}
          %path#ElecRm-Temp_Fw-Slash{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 75,0 -75,34"}
    %g#ConfRm-Temp{transform: "translate(821,246)"}
      - preg_match ('/^.+?(?=\s)/', $latestStatus['ConfRm Temp'][0], $wholeTemperature)
      - if (!$isTechBad && sizeof($wholeTemperature) > 0)
        %text#ConfRm-Temp_Temperature{ style: "font-style:normal;font-weight:normal;font-size:20px;line-height:1.25;font-family:sans-serif;fill:#000000;fill-opacity:1;stroke:none"}
          %tspan{ x: "21",
            y: "23"}
            - $tempTemp = (int)(round(floatval($wholeTemperature[0]))
            - print($tempTemp . '&#xB0;C')
      - else
        %text#ConfRm-Temp_Temperature{ style: "font-style:normal;font-weight:normal;font-size:20px;line-height:1.25;font-family:sans-serif;fill:#000000;fill-opacity:1;stroke:none"}
          %tspan{ x: "21",
            y: "23"}XX&#xB0;C
      %text#ConfRm-Temp_Symbol{ style: "font-style:normal;font-weight:normal;font-size:26px;line-height:1.25;font-family:sans-serif;fill:#000000;fill-opacity:1;stroke:none"}
        %tspan{x: "-1.5",
          y: "25"}&#x1f321;
      - if ($isTechBad)
        %rect#ConfRm-Temp_Enclosure{ style: "fill:none;stroke:#ff0000",
          width: "75",
          height: "34"}
        %g#ConfRm-Temp_Fail{ visibility: "visible" }
          %path#ConfRm-Temp_Bk-Slash{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 0,0 75,34"}
          %path#ConfRm-Temp_Fw-Slash{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 75,0 -75,34"}
      - else
        %rect#ConfRm-Temp_Enclosure{ style: "fill:none;stroke:#000000",
          width: "75",
          height: "34"}
        %g#ConfRm-Temp_Fail{ visibility: "hidden" }
          %path#ConfRm-Temp_Bk-Slash{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 0,0 75,34"}
          %path#ConfRm-Temp_Fw-Slash{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 75,0 -75,34"}
    %g#Outdoor-Temp{transform: "translate(184,76)"}
      - preg_match ('/^.+?(?=\s)/', $latestStatus['Outdoor Temp'][0], $wholeTemperature)
      - if (!$isTechBad && sizeof($wholeTemperature) > 0)
        %text#Outdoor-Temp_Temperature{ style: "font-style:normal;font-weight:normal;font-size:20px;line-height:1.25;font-family:sans-serif;fill:#ffffff;fill-opacity:1;stroke:none"}
          %tspan{ x: "21",
            y: "23"}
            - $tempTemp = (int)(round(floatval($wholeTemperature[0]))
            - print($tempTemp . '&#xB0;C')
      - else
        %text#Outdoor-Temp_Temperature{ style: "font-style:normal;font-weight:normal;font-size:20px;line-height:1.25;font-family:sans-serif;fill:#ffffff;fill-opacity:1;stroke:none"}
          %tspan{x: "21",
            y: "23"}XX&#xB0;C
      %text#Outdoor-Temp_Symbol{ style: "font-style:normal;font-weight:normal;font-size:26px;line-height:1.25;font-family:sans-serif;fill:#ffffff;fill-opacity:1;stroke:none"}
        %tspan{x: "-1.5",
          y: "25"}&#x1f321;
      - if ($isTechBad)
        %rect#Outdoor-Temp_Enclosure{ style: "fill:none;stroke:#ff0000",
          width: "75",
          height: "34"}
        %g#Outdoor-Temp_Fail{ visibility: "visible" }
          %path#Outdoor-Temp_Bk-Slash{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 0,0 75,34"}
          %path#Outdoor-Temp_Fw-Slash{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 75,0 -75,34"}
      - else
        %rect#Outdoor-Temp_Enclosure{ style: "fill:none;stroke:#ffffff",
          width: "75",
          height: "34"}
        %g#Outdoor-Temp_Fail{ visibility: "hidden" }
          %path#Outdoor-Temp_Bk-Slash{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 0,0 75,34"}
          %path#Outdoor-Temp_Fw-Slash{ style: "fill:none;stroke:#ff0000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1",
            d: "m 75,0 -75,34"}
