.containment
  .container
    .row
      .col-md-12#activity_panel
        - if($isTechBad)
          .alert.alert-danger
            %h1
              We are
              %strong HAVING TECHNICAL DIFFICULTIES
            
          %h2 Details below are outdated. Please check back later.
          != $this->partial('hal/_sensors.php', array('latestStatus' => $latestStatus))
        - else if($isOpen)
          .alert.alert-success
            %h1
              We are
              %strong OPEN
          != $this->partial('hal/_sensors.php', array('latestStatus' => $latestStatus))
        - else
          .alert.alert-warning
            %h1
              We are
              %strong CLOSED
          != $this->partial('hal/_sensors.php', array('latestStatus' => $latestStatus))
      

%script{:src => '/js/timeago.js'}

:javascript
  $(function(){
    $('time.timeago').timeago();
  });
  
-# $head_content = $this->capture(>*<
-# This way of setting head_content doesn't work because the renderer renders the full page as php
-# which means the full header gets rendered before the body yield.
-# $head_content needs to be set before the render call, anything in this template is inside the template in the middle of the php script
