#footer {
  &.bg-maglab_map {
    height: 1222px;
    background-origin: content-box;
    background: #eaeaea url('/images/bg/maglab_map.jpg') no-repeat fixed center;
    padding: 0;
    border: 0;
    margin: 0;
  }
}

#join-newsletter {
  .form-control { color: #222; }
}

#pricing {
  .panel { padding: 0; }
}

#google-calendar {
  border-top: 5px solid #e7ecfe;
  border-bottom: 5px solid #e7ecfe;
  background-color: #e7ecfe;
}
