RewriteEngine On

# If the rule matches a file, skip processing and serve that file
# We don't have directory index/listing, so no need to check dirs
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule .* - [L]

RewriteCond %{HTTP_HOST} ^maglaboratory.org$ [NC]
RewriteRule ^(.*)$ http://www.maglaboratory.org/$1 [L]

RewriteCond %{HTTP_HOST} !^www.maglaboratory.org$ [NC]
RewriteRule . - [S=3]
# if www.maglaboratory.org {
RewriteRule ^/?hal /haldor-load.php [L]
RewriteRule ^/?members/?$ /members-load.php [L]
RewriteRule ^/?members/.+$ /members-load.php [L]
# }

RewriteCond %{QUERY_STRING} title=(.*) [NC]
RewriteRule ^/?~maglab/wiki/index.php$ /wiki/%1 [R=301,L]

RewriteRule ^/?wiki(/.*)?$ %{DOCUMENT_ROOT}/w/index.php [L]
#RewriteRule ^/?wiki(/.*)?$ %{DOCUMENT_ROOT}/blank.php [L]

RewriteCond %{HTTP_HOST} !^preview\.maglaboratory\.org$ [NC]
RewriteCond %{HTTP_HOST} !^maglab\.sj$ [NC]
RewriteRule . - [S=2]
# if development or preview {
RewriteRule ^/?hal /HalApp.php [L]
RewriteRule ^(.*)?$ /MainApp.php [L]
# }

Options All -Indexes

