- $head_content = $this->capture(>*<
  :css
    #activity_panel td { font-size: 18px; }
    #activity_panel th { font-size: 20px; }
    #activity_panel .panel-title { line-height: normal; font-size: 50px; }
