.social-icons { overflow: hidden; margin: 0; padding: 0; list-style: none; }
.social-icons li { display: inline-block; *display: inline; zoom: 1; }
.social-icons li a { background-image: url(/images/social-icons.png); background-repeat: no-repeat; display: block; width: 45px; height: 45px; }
.social-icons .sprite-facebook { width: 45px; height: 45px; background-position: -5px -5px; }
.social-icons .sprite-github { width: 45px; height: 45px; background-position: -60px -5px; }
.social-icons .sprite-instagram { width: 45px; height: 45px; background-position: -5px -60px; }
.social-icons .sprite-mail { width: 45px; height: 45px; background-position: -60px -60px; }
.social-icons .sprite-meetup { width: 45px; height: 45px; background-position: -115px -5px; }
.social-icons .sprite-twitter { width: 45px; height: 45px; background-position: -115px -60px; }
.social-icons .sprite-yelp { width: 45px; height: 45px; background-position: -5px -115px; }
.social-icons .sprite-youtube { width: 45px; height: 45px; background-position: -60px -115px; }
.social-icons .sprite-discord { width: 45px; height: 45px; background-position: -115px -115px; }

#header { padding: 50px 0; font-family: "Bree Serif", Eczar, Georgia, "Times New Roman", Times, serif; font-size: 20px; }
#header nav { opacity: 0.6; }

#main-nav .nav { margin: 0 auto; display: table; table-layout: fixed; float: none; }
#main-nav .nav a { color: black; }

#logo { width: 100%; }

#header .navbar { margin-top: 25px; }
#header .social-icons { text-align: center; }
#header address { margin-top: 25px; color: #777; }

/* Background patterns inside subtle from subtlepatterns.com */
body { background: #fff url("/images/bg/subtle/gridme.png") repeat scroll center; }

.bg-pullup { height: 50px; opacity: 0.5; }

.containment { padding: 50px 0; border-top: 10px solid #333; border-bottom: 10px solid #333; opacity: 0.8; }

.bg-subtle-geometry { background: #fff url("/images/bg/subtle/geometry.png") repeat scroll center; }

.bg-subtle-geometry2 { background: #fff url("/images/bg/subtle/geometry2.png") repeat scroll center; }

.bg-subtle-gridme { background: #fff url("/images/bg/subtle/gridme.png") repeat scroll center; }

/*
.bg-subtle- { background: #ddd url('/images/bg/subtle/.png') repeat fixed center;
}
*/
#footer.bg-maglab_map { height: 1222px; background-origin: content-box; background: #eaeaea url("/images/bg/maglab_map.jpg") no-repeat fixed center; padding: 0; border: 0; margin: 0; }

#join-newsletter .form-control { color: #222; }

#pricing .panel { padding: 0; }

#google-calendar { border-top: 5px solid #e7ecfe; border-bottom: 5px solid #e7ecfe; background-color: #e7ecfe; }

#activity_panel { text-align: center; }
#activity_panel td { font-size: 20px; }
#activity_panel th { font-size: 20px; text-align: center; }
#activity_panel .alert h1 { text-align: center; }

#additional-links .social-icons { text-align: center; }
#additional-links h1 { margin-bottom: 20px; }
