@font-face {
  font-family: 'si';
  src: url("/fonts/socicon.eot");
  src: url("/fonts/socicon.eot?#iefix") format("embedded-opentype"), url("/fonts/socicon.woff") format("woff"), url("/fonts/socicon.ttf") format("truetype"), url("/fonts/socicon.svg#icomoonregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: si;
    src: url(/fonts/socicon.svg) format(svg); } }
.social-icons {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none; }
  .social-icons li {
    display: inline-block;
    *display: inline;
    zoom: 1; }
  .social-icons li a {
    font-family: si !important;
    font-style: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -o-transition: .1s;
    -ms-transition: .1s;
    -moz-transition: .1s;
    -webkit-transition: .1s;
    transition: .1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    display: block;
    position: relative;
    z-index: 1;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 22px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-right: 10px;
    color: #ffffff;
    background-color: none; }
  .social-icons .soc-icon-last {
    margin: 0 !important; }
  .social-icons .soc-email1 {
    background-color: #578AD6; }
  .social-icons .soc-email1:before {
    content: '<'; }
  .social-icons .soc-instagram {
    background-color: #9c7c6e; }
  .social-icons .soc-instagram:before {
    content: 'x'; }
  .social-icons .soc-facebook {
    background-color: #3e5b98; }
  .social-icons .soc-facebook:before {
    content: 'b'; }
  .social-icons .soc-youtube {
    background-color: #e02a20; }
  .social-icons .soc-youtube:before {
    content: 'r'; }
  .social-icons .soc-twitter {
    background-color: #4da7de; }
  .social-icons .soc-twitter:before {
    content: 'a'; }
  .social-icons .soc-github {
    background-color: #5380c0; }
  .social-icons .soc-github:before {
    content: 'Q'; }
  .social-icons .soc-yelp {
    background-color: #c83218; }
  .social-icons .soc-yelp:before {
    content: 'h'; }
  .social-icons .soc-email1:hover {
    background-color: #4376c2; }
  .social-icons .soc-instagram:hover {
    background-color: #88685a; }
  .social-icons .soc-facebook:hover {
    background-color: #2a4784; }
  .social-icons .soc-youtube:hover {
    background-color: #cc160c; }
  .social-icons .soc-twitter:hover {
    background-color: #3993ca; }
  .social-icons .soc-github:hover {
    background-color: #3f6cac; }
  .social-icons .soc-yelp:hover {
    background-color: #b41e04; }

#header {
  background: #ddd url("/images/bg/stainless_steel.jpg") repeat fixed center;
  padding: 20px; }
  #header nav {
    opacity: 0.6; }

#main-nav {
  font-family: "Bree Serif", Eczar, Georgia, "Times New Roman", Times, serif;
  font-size: 20px; }
  #main-nav .nav {
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float: none; }
    #main-nav .nav a {
      color: black; }

#logo {
  width: 100%; }

#header .navbar {
  margin-top: 25px; }
#header .social-icons {
  text-align: center; }

/*# sourceMappingURL=maglab.css.map */
