#footer.bg-maglab_map.containment{:title => 'Click to open Google Maps to MAGLab'}
  %div(style='background-color: #fcd89e;')
    .container
      .row
        %span.text-center Copyright &copy; 2011-2019 Makers, Artists, and Gadgeteers Laboratory, Inc
  %a(href='https://www.google.com/maps/place/MAG+Laboratory/@34.0384934,-117.8235897,17z/data=!4m8!1m2!3m1!2sMAG+Laboratory!3m4!1s0x0:0x56f9a6e0034a854!8m2!3d34.038489!4d-117.8214008' target='_blank' style='height: 100%; width: 100%; display: block;' title='Click to open Google Maps at MAGLab')
  -# Footer and Map
