.containment
  .container
    .row
      %h1.text-center COMMUNITY
      .col-xs-12
        %p
          Mag Laboratory is dedicated to maintaining strong relationships with the maker community.
          In order to further this symbiosis, we are more than happy to provide resources and expertise to various projects in the local area.
        %h2.text-center Walnut Valley Robotics 2018
        %p
          Mag Laboratory is glad that we made a difference by welding together Walnut Valley Robotics' robot frame.
      .col-xs-12.col-md-4
        %img(src='/images/community/weld-left.jpg' alt="Aluminum weld for Walnut Valley Robotics 2018" style="width:100%;height:auto;")
      .col-xs-12.col-md-4
        %img(src='/images/community/weld-right.jpg' alt="Ground aluminum weld for Walnut valley Robotics 2018" style="width:100%;height:auto;")
      .col-xs-12.col-md-4
        %iframe(width="360" height="203" src="https://www.youtube.com/embed/KHmrYeaqBys?rel=0" frameborder="0" allow="autoplay;encrypted-media" allowfullscreen)
