.containment
  .container
    .row
      %h1.text-center ABOUT US
      .col-xs-12.col-md-4
        %h2.text-center Who
        %p
          We are a non-profit
          %a(href='http://en.wikipedia.org/wiki/Hackerspace') hackerspace / makerspace
          and collaborative workspace based in Pomona, CA.
          
        %p
          People come to our space to 
          %strong work
          on projects,
          %strong explore
          their inner artists,
          %strong make
          cool gadgets, and
          %strong interact
          with a community of like-minded individuals.
          
        %p
          We are makers, artists, DIYers, hobbyists, combat robot creators, ham radio amateurs, tech enthusiasts and...well...
          %strong just normal people, doing stuff regular people do.
          (except MAG Cat, he has cat duties.)
        
        %p
          Join us and work on your projects here.
          %strong Share it. Inspire others! Get inspired.
          They might share some tips and tricks or even be interested in joining your project. There's a lot of expertise in our members and many are happy to share their knowledge.
        
        %p
          And if you don't like us enough to join in holy makermony, you're still welcome visit anytime.
          %strong Check the calendar, Facebook and Meetup page
          to see what MAGLab is doing.
      .col-xs-12.col-md-4
        %h2.text-center What
        -# TODO: Tools and Equipment page to list our tools
        
        %p
          We have 
          %strong a wall full of general-purpose tools and supplies
          like screw drivers, tape measures, drills, hammers, saws, and much more

        %p
          The (partially) sound-insulated
          %strong presentation room with AC,
          a projector and whiteboard services our meetings.
          %strong The electronics room
          has a lazer cutter, 3d printers, variable power supplies, oscilloscopes, a logic analyzer, soldering iron and other electro-doodads.
        
        %p
          %strong The workshop
          houses a mill, lathe, drill press, grinder, jig saw, forge and other destructive machines. If you're
          %strong woodworking or metalworking,
          chances are we have a machine for your needs.
        
        %p
          Oh almost forgot, we have
          %strong a restroom with working toilet, and sink,
          and running water.
        
      .col-xs-12.col-md-4
        %h2.text-center When
        %p You're welcome to come and check us out!
        
        %p
          We don't always plan our open hours...
          The space is open whenever a key member or officer is at the space.
          %strong Our doors are always open Tuesday and Friday evenings
          for our business meetings and open project night respectively. There's a 
          %strong public monthly Open House on the last Saturday
          of every month.
          
        %p
          To see if we're open right now, please check with our resident
          %strong deliberately-not-very-sentient sensor system,
          codenamed
          %strong
            %a.text-danger(href='/hal') HAL.
          %a(href='/hal') Click to see HAL.
          
        %p
          If the date is not on the calendar, it's always safe (and advised) to 
          %strong give us a call
          to check if--and for how long--the space will be open by the time you arrive.
          
#google-calendar.containment
  %iframe(src="https://www.google.com/calendar/embed?src=bjpkvaeg1rjq9u3c6utecq1jos%40group.calendar.google.com&amp;ctz=America/Los_Angeles" style="border: 0" width="100%" height="650" frameborder="0" scrolling="no")
  %p The calendar does not list unplanned open times that occur when a keyed member is present.

-# TODO Events Focus
  .containment{:style => 'height: 1000px;'}
    -# Upcoming Events
    -# Past Events

- include '_pricing.php';

-#
  #join-newsletter.containment
    .container
      %h1.text-center Did you know?
      %h2.text-center We have weekly newsletter that doesn't go out?
      %p.text-center
        Why doesn't it go out?
        %br
        Well...because there's not a lot of people signed up...
        %br
        Register now and we'll start planning updates for the newsletter
        %br
        (once we have enough interested members)
      %form.form-horizontal(action="//maglaboratory.us12.list-manage.com/subscribe/post" method="post" target="_blank")
        .form-group
          %label.col-xs-4.control-label(for='MERGE1') First Name (optional)
          .col-xs-8.col-md-4
            %input.form-control(type='text' value='' name='MERGE1' placeholder='Berry')
        .form-group
          %label.col-xs-4.control-label(for='MERGE2') Last Name (optional)
          .col-xs-8.col-md-4
            %input.form-control(type='text' value='' name='MERGE2' placeholder='Cunning')
        .form-group
          %label.col-xs-4.control-label(for='MERGE0') Email (required)
          .col-xs-8.col-md-4
            %input.form-control(type='email' value='' name='MERGE0' placeholder='diy.workalot@example.com')
        .form-group
          %label.col-xs-4.control-label(for='EMAILTYPE') Preferred Format
          .col-xs-8.col-md-4
            %label.radio-inline
              %input(type='radio' name='EMAILTYPE' value='html') HTML
            %label.radio-inline
              %input(type='radio' name='EMAILTYPE' value='text') TEXT
        .form-group
          -# This is for bot checking, they don't fill in this field
          
          %div(style="position: absolute; left: -5000px;" aria-hidden="true")
            %input(type="text" name="b_c5f2672775054e0a1b3f98dac_4a9f6654cf" tabindex="-1" value="")
          .col-xs-8.col-md-4.col-xs-offset-4
            %input(type='hidden' name='u' value='c5f2672775054e0a1b3f98dac')
            %input(type='hidden' name='id' value='4a9f6654cf')
            %input.btn.btn-primary(type='submit' value='Subscribe' name='subscribe')
        

- include('_map_footer.php')

