- $pricing_title = 'Membership Info (the short version)';
- include('_pricing.php')

.containment
  .container
    .row
      %h1.text-center Membership Information (the long version)
      
      .col-xs-12
        %h2
          Guests / Visitors
          %small Free!
        %p
          Anybody is free to visit the MAG Lab any time that the space is open. Many of our members are 
          
        %p
          We reserve the right to refuse service and entry for whatever reason. If there's a chance that a visitor's behavior might jeopardize safety or pose a risk, we'll ask them to leave. There are adverse consequences to disregarding common sense, especially when the machines are active.
      .col-xs-12
        %h2
          General Members
          %small $50/month
        
        %p
          Heavy machinery and other dangerous equipment like the welder require special permission to operate. There's a safety test and you must demonstrate that you can follow basic procedures to the section lead. This avoids potential accidents that harm yourself or damage the equipment.
        
        %p
          Most of our members pay using the PayPal subscription link. Some members pay in cash, usually during one of the weekly Tuesday business meetings.
          
      .col-xs-12
        %h2
          Keyholders
          %small $100/month
        %p
          Keyholders get a key to the space. That comes with additional responsibilities, the most important of which is
          %strong locking up the space when they leave. 
        %p
          Because of the additional responsibility, we ask that prospective keyholders try out the space for a month or two as a General Member before asking for keyed. 
          Keyholders are vetted and 
          %strong must officially be accepted to be keyed during a Tuesday business meeting.
          It comes to a vote and always passes (or should). As long as they're not disrespectful to other members or did something alarming, there's no reason why anyone would disagree.
        
        %p
          You don't absolutely have to, but it would be nice if you kept the doors open while you're at the space so that General Members can use it.
      .col-xs-12
        %h2
          Officers
          %small Keyholder + extra work
        %p
          This is the cream of the crop folks! Officers are Keyholder Members that have the 
          %strong responsibility to administrate and manage business affairs of Makers, Artists and Gadgeteers, Inc. 
        %p
          Officers work on a
          %strong volunteer
          basis. They manage income, pay the bills and maintain the space. It's a tough job.
        %p
          There are a limited number of officer positions that are
          %strong voted on during the Annual Meeting
          (usually in or around September). Special positions are the President, Secretary and Treasurer. A few other officers help these three do their job.
        %p
          As part of our by laws,
          %strong all officers must also be Keyholders
          and
          %strong serve an annual term
          until the next annual meeting. We try to maintain an odd number of officers for voting purposes.
      .col-xs-12
        %h3
          Curator
          %small General + extra work
        %p
          There is a special General Member position called the Curator. It provides a key at General Member pricing in exchange for keeping the space open for extra hours in the week. 
        %p
          The Curator changes every once in a while if a new General Member wants to take up the position. If interested, please attend a Tuesday business meeting and ask about it.
        %p
          Sign ups and applications will be posted when a new selection round begins.
    .row
      .col-xs-12
        %h2 Members Section / Dashboard
        %p
          All members will have an account created in our
          %a{:href => '/members'} Members Section
          to manage billing history and basic contact information.
      .col-xs-12
        %h2 Plans
        %p The following are plans for the future concerning membership. They may or may not be implemented:
        
        %ul
          %li
            Every member gets an rfid card. Key members use the same card to open the door. General and Keyed use the cards to activate/reserve a machine.
            This ensures only members that pass the safety test and verified safe to use machines can be used.
            Helps avoid dangerous situations like self-maiming and loss of limb from misuse of hardware.

