.bg-pullup {
  height: 50px;
  opacity: 0.5;
}

/* Background patterns inside subtle from subtlepatterns.com */
.bg-subtle-geometry {
  background: #ddd url('/images/bg/subtle/geometry.png') repeat fixed center;
}

.bg-subtle-geometry2 {
  background: #ddd url('/images/bg/subtle/geometry2.png') repeat fixed center;
}

.bg-subtle-food {
  background: #fac564 url('/images/bg/subtle/food.png') repeat fixed center;
}

.bg-subtle-batthern {
  background: #ddd url('/images/bg/subtle/batthern.png') repeat fixed center;
}

.bg-subtle-giftly {
  background: #ddd url('/images/bg/subtle/ebe8d7.png') repeat fixed center;
}

.bg-subtle-gridme {
  background: #fff url('/images/bg/subtle/gridme.png') repeat fixed center;
}

.bg-subtle-light_honeycomb {
  background: #d7d7d7 url('/images/bg/subtle/light_honeycomb.png') repeat fixed center;
}

.bg-subtle-photography {
  background: #fafafa url('/images/bg/subtle/photography.png') repeat fixed center;
}

.bg-flight_machines {
  /* Background made by http://artrayd.deviantart.com/ */
  background: #eee url('/images/bg/flight_machines.png') repeat fixed center;
}


/*
.bg-subtle- {
  background: #ddd url('/images/bg/subtle/.png') repeat fixed center;
}
*/
