/* Background patterns inside subtle from subtlepatterns.com */

body {
  background: #fff url('/images/bg/subtle/gridme.png') repeat scroll center;
}

.bg-pullup {
  height: 50px;
  opacity: 0.5;
}

.containment {
  padding: 50px 0;
  opacity: 0.8;
}

.bg-subtle-geometry {
  background: #fff url('/images/bg/subtle/geometry.png') repeat scroll center;
}

.bg-subtle-geometry2 {
  background: #fff url('/images/bg/subtle/geometry2.png') repeat scroll center;
}

.bg-subtle-gridme {
  background: #fff url('/images/bg/subtle/gridme.png') repeat scroll center;
}

/*
.bg-subtle- {
  background: #ddd url('/images/bg/subtle/.png') repeat fixed center;
}
*/
