body {
  /* Background pattern from subtlepatterns.com */
  background: #ddd url('/images/bg/subtle/geometry.png') repeat scroll center;
}

#header {
  padding: 50px 0;
  nav { 
    opacity: 0.6;
  }
  
  font-family: "Bree Serif", Eczar, Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
}

#main-nav {
  
  .nav {
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float: none;
    a { color: black; }
  }
}

#logo {
  width: 100%;
}

#header {
  .navbar {
    margin-top: 25px;
  }
  
  .social-icons {
    text-align: center;
  }
  
  address {
    margin-top: 25px;
    color: #777;
  }
}

