.social-icons {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
    *display: inline;
    zoom: 1;
  }
  
  li a {
    background-image: url(/images/social-icons.png);
    background-repeat: no-repeat;
    display: block;
    width: 45px;
    height: 45px;
  }

  .sprite-facebook {
      width: 45px;
      height: 45px;
      background-position: -5px -5px;
  }

  .sprite-github {
      width: 45px;
      height: 45px;
      background-position: -60px -5px;
  }

  .sprite-instagram {
      width: 45px;
      height: 45px;
      background-position: -5px -60px;
  }

  .sprite-mail {
      width: 45px;
      height: 45px;
      background-position: -60px -60px;
  }

  .sprite-meetup {
      width: 45px;
      height: 45px;
      background-position: -115px -5px;
  }

  .sprite-twitter {
      width: 45px;
      height: 45px;
      background-position: -115px -60px;
  }

  .sprite-yelp {
      width: 45px;
      height: 45px;
      background-position: -5px -115px;
  }

  .sprite-youtube {
      width: 45px;
      height: 45px;
      background-position: -60px -115px;
  }

}
